# Python
__pycache__/
*.pyc

# Virtual Environment
env/
.venv/

# Artifacts
artifacts/
notebooks/artifacts/
*.pkl
*.joblib

# Data
Data/
data/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
